body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}
section#login_creer {
    display: flex;
}
section#login_creer .container {
    max-width: 600px;
    background: #2d2b42;
    border-radius: 20px;
    text-align: center;
    display: flex;
    flex-direction: column;
    margin: 10px;
}

section#login_creer .container header {
    font-size: 2rem;
    margin: 20px;
}
section#login_creer .container header h5 {
    margin: 20px;
    margin-bottom: 0px;
}
section#login_creer .container input {
    padding: 1rem;
    border: none;
    outline: none;
    border-bottom: 1px solid white;
    background-color: transparent;
    border-radius: 0px;
    color: white;
    font-size: 0.9rem;
}

section#login_creer .container select {
    padding: 0.7rem;
    border: none;
    outline: none;
    background-color: #4d4a6c;
    border-radius: 10px;
    color: white;
    font-size: 0.9rem;
}

section#login_creer .container button {
    border: none;
    margin: 10px;
    padding: 0.7rem;
    font-size: 0.9rem;
    background-color: #4d4a6c;
}

section#login_creer .container button:hover {
    cursor: pointer;
}

section#login_creer .container button:focus {
    border: none;
} 

section#login_creer .container footer a {
    text-decoration: none;
    color: white;
    margin: 20px;
    font-size: 1rem;
}
section#login_creer .container footer {
    margin-bottom: 20px;
}
section#login_creer .container footer a:hover {
    text-decoration: underline;
}

@media screen and (max-width: 500px){
    section#login_creer .container header {
        margin: 5px;
        font-size: 1.8rem;
    }
}







